body{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-direction: row-reverse;
    overflow: hidden;
}

#container-asside{
    width: 100%;
    height: calc(100vh - 80px);
    max-width: 300px;
    padding: 16px;
    border: 1px solid rgba(224, 224, 224, 0.35);
    border-radius: 20px;
    margin: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.pesquisar{
    width: calc(100% - 26px);
    height: 80px;
    margin: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesquisar button{
    width: 100px;
    height: 100%;
    max-height: 35px;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}
.pesquisar button:hover{
    box-shadow: 2px 4px 10px #888888;
}

.efect-pesquisar{
    width: 250px;
    height: 100%;
    max-height: 40px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(201, 201, 201, 0.0);
    border-radius: 5px;
    padding: 0 2px;
}

.efect-pesquisar:focus-within {
    border: 2px solid rgba(201, 201, 201, 0.5);
}

.pesquisar-container{
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 35px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(201, 201, 201, 0.5);
    border-radius: 5px;
}
.pesquisar-container input{
    width: 195px;
    height: 22px;
    border: none;
    
}
.pesquisar-container input:focus {
    outline: none;
    border: none;
}
.pesquisar-container>button>img{
    width: 12px;
    height: 12px;
    margin: 0 auto;
}
.pesquisar-container button{
    width: 18px;
    height: 18px;
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2px;
    background-color: rgba(218, 218, 218, 0.2);
    cursor: pointer;
}

.pesquisar-container button:hover{
    box-shadow: none !important;
}
.pesquisar-img img{
    width: 18px;
    height: 18px;
    margin: 0 auto;
    padding-left: 8px;
}



#section{
    width: 100%;
    height: calc(100vh - 145px);
    max-width: 810px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: top;
    margin: 20px;
    margin-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}


.card{
    width: 240px;
    height: 360px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(224, 224, 224, 0.35);
    box-shadow: 1px 2px 5px #8888885d;
    transition: all 0.2s ease-in-out;
}
.card:hover{
    box-shadow: 2px 4px 10px #888888;
}
.img{
    width: 242px;
    height: 200px;
    background-color: gray;
    border-radius: 10px 10px 0 0;
    transform: translateX(-1px);
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;

}
.info{
    width: 240px;
    height: 160px;
    padding: 16px;
}

.title{
    width: 208px;
    height: 28px;
}
.title p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.description{
    width: 208px;
    height: 48px;
    margin-top: 8px;
    font-size: 17px;
}
.description p {
    margin: 0;
    font-size: 17px;
}
.container{
    width: 208px;
    height: 36px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    width: 83px;
    height: 32px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.price p{
    font-size: 25px;
    font-weight: bold;
}
.action{
    width: 97px;
    height: 36px;
}
.action button{
    width: 100%;
    height: 100%;
    padding: 0 12px;
    border: none;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;

}
.title-cart{
    width: 268px;
    height: 40px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    font-family: rubik;
}
.container-card-cart{
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;;
}
.card-cart{
    width: 268px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 16px;
    display: flex;

}
.img-cart{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}
.img-cart img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.info-cart{
    width: 208px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-cart{
    width: 178px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-product-cart{
    width: 178px;
    height: 20px;

}
.title-product-cart p{
    font-size: 14px;
    font-weight: 600;
    font-family: rubik;
    margin: 0;
}
.price-quant{
    width: 178px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.price-cart{
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-cart p{
    font-size: 14px;
    margin: 0;
}
.quant-cart{
    width: 70px;
    height: 20px;
    display: flex;
    margin-right: 10px;
}
.quant-cart button{
    width: 20px;
    height: 20px;
    padding: 0px;
    border: none;
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.1);
    border-radius: 50%;
}
.quantidade-cart{
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quant-cart p{
    margin: 0;
    font-size: 14px;
}

.action-cart{
    width: 30px;
    height: 50px;
}
.action-cart button{
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
}
.checkout{
    width: 100%;
    height: 105px;
}
.total-container{
    width: 268px;
    height: 32px;
    margin: 0 auto;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid rgba(197, 196, 196, 0.377);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-cart{
    font-size: 16px;
}
.price-total-cart{
    font-size: 24px;
    font-weight: 700;
}
.check{
    margin: 0 auto;
    width: 268px;
    height: 40px;
    padding-top: 16px;
    
}
.check button{
    width: 100%;
    height: 35px;
    padding: 8px 16px;
    text-align: center;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.2s ease-in-out;

}
.check button:hover{
    box-shadow: 2px 4px 10px #888888;
}